name: ubus

on:
  pull_request:
  push:

env:
  archs: "aarch64 arm mips mips64 powerpc powerpc64 riscv64 x86_64"
  variants: "basic full"
  LUA_VERSION: 5.1.5

jobs:
  build:
    name: Build ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: aarch64
            gcc: /usr/bin/aarch64-linux-gnu-gcc
            packages: gcc-aarch64-linux-gnu
          - arch: arm
            gcc: /usr/bin/arm-linux-gnueabi-gcc
            packages: gcc-arm-linux-gnueabi
          - arch: mips
            gcc: /usr/bin/mips-linux-gnu-gcc
            packages: gcc-mips-linux-gnu
          - arch: mips64
            gcc: /usr/bin/mips64-linux-gnuabi64-gcc
            packages: gcc-mips64-linux-gnuabi64
          - arch: powerpc
            gcc: /usr/bin/powerpc-linux-gnu-gcc
            packages: gcc-powerpc-linux-gnu
          - arch: powerpc64
            gcc: /usr/bin/powerpc64-linux-gnu-gcc
            packages: gcc-powerpc64-linux-gnu
          - arch: riscv64
            gcc: /usr/bin/riscv64-linux-gnu-gcc
            packages: gcc-riscv64-linux-gnu
          - arch: x86_64
            gcc: /usr/bin/x86_64-linux-gnu-gcc
            packages: gcc-x86-64-linux-gnu
    outputs:
      size-aarch64-basic: ${{ steps.basic.outputs.size_aarch64 }}
      size-aarch64-full: ${{ steps.full.outputs.size_aarch64 }}
      size-arm-basic: ${{ steps.basic.outputs.size_arm }}
      size-arm-full: ${{ steps.full.outputs.size_arm }}
      size-mips-basic: ${{ steps.basic.outputs.size_mips }}
      size-mips-full: ${{ steps.full.outputs.size_mips }}
      size-mips64-basic: ${{ steps.basic.outputs.size_mips64 }}
      size-mips64-full: ${{ steps.full.outputs.size_mips64 }}
      size-powerpc-basic: ${{ steps.basic.outputs.size_powerpc }}
      size-powerpc-full: ${{ steps.full.outputs.size_powerpc }}
      size-powerpc64-basic: ${{ steps.basic.outputs.size_powerpc64 }}
      size-powerpc64-full: ${{ steps.full.outputs.size_powerpc64 }}
      size-riscv64-basic: ${{ steps.basic.outputs.size_riscv64 }}
      size-riscv64-full: ${{ steps.full.outputs.size_riscv64 }}
      size-x86_64-basic: ${{ steps.basic.outputs.size_x86_64 }}
      size-x86_64-full: ${{ steps.full.outputs.size_x86_64 }}
    steps:
      - name: Checkout uci
        uses: actions/checkout@v5

      - name: Checkout json-c
        uses: actions/checkout@v5
        with:
          repository: json-c/json-c
          path: depends/json-c

      - name: Checkout libubox
        uses: actions/checkout@v5
        with:
          repository: openwrt/libubox
          path: depends/libubox

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install ${{ matrix.packages }}

      - name: Prepare build
        run: |
          mkdir -p ${GITHUB_WORKSPACE}/build

      - name: Build json-c
        working-directory: depends/json-c
        run: |
          cmake \
            -DCMAKE_C_COMPILER=${{ matrix.gcc }} \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_SHARED_LIBS=OFF \
            -DDISABLE_EXTRA_LIBS=ON \
            -DBUILD_TESTING=OFF \
            --install-prefix ${GITHUB_WORKSPACE}/build \
            -B . -S .
          make
          make install

      - name: Build lua
        run: |
          mkdir -p depends/lua
          wget -qO- https://www.lua.org/ftp/lua-${{ env.LUA_VERSION }}.tar.gz | \
            tar zxvf - -C depends/lua --strip-components=1
          sed -i '/#define LUA_USE_READLINE/d' depends/lua/src/luaconf.h
          sed -i 's/ -lreadline -lhistory -lncurses//g' depends/lua/src/Makefile
          make -C depends/lua linux install \
            CC=${{ matrix.gcc }} \
            INSTALL_TOP=${GITHUB_WORKSPACE}/build

      - name: Build libubox
        working-directory: depends/libubox
        run: |
          cmake \
            -DCMAKE_C_COMPILER=${{ matrix.gcc }} \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_LUA=ON \
            -DBUILD_EXAMPLES=OFF \
            -DLUAPATH=${GITHUB_WORKSPACE}/build/lib/lua \
            --install-prefix ${GITHUB_WORKSPACE}/build \
            -B . -S .
          make
          make install

      - id: basic
        name: Build ubus (basic)
        env:
          BUILD_DIR: build/ubus-basic
        run: |
          cmake \
            -DCMAKE_C_COMPILER=${{ matrix.gcc }} \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_LUA=OFF \
            -DBUILD_EXAMPLES=OFF \
            -B $BUILD_DIR -S .
          make -C $BUILD_DIR
          echo "size_${{ matrix.arch }}=$( find $BUILD_DIR -type f -name ubus -printf '%s' )" >> $GITHUB_OUTPUT

      - id: full
        name: Build ubus (full)
        env:
          BUILD_DIR: build/ubus-full
        run: |
          cmake \
            -DCMAKE_C_COMPILER=${{ matrix.gcc }} \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_LUA=ON \
            -DBUILD_EXAMPLES=ON \
            -DLUAPATH=${GITHUB_WORKSPACE}/build/lib/lua \
            -B $BUILD_DIR -S .
          make -C $BUILD_DIR
          echo "size_${{ matrix.arch }}=$( find $BUILD_DIR -type f -name ubus -printf '%s' )" >> $GITHUB_OUTPUT

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: ubus-${{ matrix.arch }}-binaries
          path: |
            build/ubus-*/ubus
          if-no-files-found: error

  summary:
    name: Sizes
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Sizes summary
        env:
          size_aarch64_basic: ${{needs.build.outputs.size-aarch64-basic}}
          size_aarch64_full: ${{needs.build.outputs.size-aarch64-full}}
          size_arm_basic: ${{needs.build.outputs.size-arm-basic}}
          size_arm_full: ${{needs.build.outputs.size-arm-full}}
          size_mips_basic: ${{needs.build.outputs.size-mips-basic}}
          size_mips_full: ${{needs.build.outputs.size-mips-full}}
          size_mips64_basic: ${{needs.build.outputs.size-mips64-basic}}
          size_mips64_full: ${{needs.build.outputs.size-mips64-full}}
          size_powerpc_basic: ${{needs.build.outputs.size-powerpc-basic}}
          size_powerpc_full: ${{needs.build.outputs.size-powerpc-full}}
          size_powerpc64_basic: ${{needs.build.outputs.size-powerpc64-basic}}
          size_powerpc64_full: ${{needs.build.outputs.size-powerpc64-full}}
          size_riscv64_basic: ${{needs.build.outputs.size-riscv64-basic}}
          size_riscv64_full: ${{needs.build.outputs.size-riscv64-full}}
          size_x86_64_basic: ${{needs.build.outputs.size-x86_64-basic}}
          size_x86_64_full: ${{needs.build.outputs.size-x86_64-full}}
        run: |
          echo "### ${GITHUB_WORKFLOW} sizes :floppy_disk:" >> $GITHUB_STEP_SUMMARY

          header="| arch |"
          table="| :---: |"
          for variant in ${{ env.variants }}; do
            header="$header $variant |"
            table="$table :---: |"
          done
          echo $header >> $GITHUB_STEP_SUMMARY
          echo $table >> $GITHUB_STEP_SUMMARY

          for arch in ${{ env.archs }}; do
            row="| $arch | "
            for variant in $variants; do
              value=size_${arch}_$(echo "$variant" | tr "[:upper:]" "[:lower:]")
              row="$row ${!value} |"
            done
            echo $row >> $GITHUB_STEP_SUMMARY
          done

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ubus
        uses: actions/checkout@v5

      - name: Checkout json-c
        uses: actions/checkout@v5
        with:
          repository: json-c/json-c
          path: depends/json-c

      - name: Checkout libubox
        uses: actions/checkout@v5
        with:
          repository: openwrt/libubox
          path: depends/libubox

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install valgrind

      - name: Prepare build
        run: |
          mkdir -p ${GITHUB_WORKSPACE}/build
          mkdir -p ${GITHUB_WORKSPACE}/depends/lua
          echo "${GITHUB_WORKSPACE}/build/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=${GITHUB_WORKSPACE}/build/lib:${{ env.LD_LIBRARY_PATH }}" >> $GITHUB_ENV

      - name: Build json-c
        working-directory: depends/json-c
        run: |
          cmake \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_SHARED_LIBS=OFF \
            -DDISABLE_EXTRA_LIBS=ON \
            -DBUILD_TESTING=OFF \
            --install-prefix ${GITHUB_WORKSPACE}/build \
            -B . -S .
          make
          make install

      - name: Build lua
        working-directory: depends/lua
        run: |
          wget -qO- https://www.lua.org/ftp/lua-${{ env.LUA_VERSION }}.tar.gz | \
            tar zxvf - --strip-components=1
          sed -i '/#define LUA_USE_READLINE/d' src/luaconf.h
          sed -i 's/ -lreadline -lhistory -lncurses//g' src/Makefile
          make linux install \
            INSTALL_TOP=${GITHUB_WORKSPACE}/build

      - name: Build libubox
        working-directory: depends/libubox
        run: |
          cmake \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_LUA=ON \
            -DBUILD_EXAMPLES=OFF \
            -DLUAPATH=${GITHUB_WORKSPACE}/build/lib/lua \
            --install-prefix ${GITHUB_WORKSPACE}/build \
            -B . -S .
          make
          make install

      - name: Build ubus
        run: |
          cmake \
            -DCMAKE_PREFIX_PATH=${GITHUB_WORKSPACE}/build \
            -DBUILD_LUA=ON \
            -DUNIT_TESTING=ON \
            -DLUAPATH=${GITHUB_WORKSPACE}/build/lib/lua \
            --install-prefix ${GITHUB_WORKSPACE}/build \
            -B . -S .
          make
          make install

      - name: Test ubus
        run: |
          make test CTEST_OUTPUT_ON_FAILURE=1
